@page
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Register

@{
    ViewData["Title"] = "Register";
    @await Html.PartialAsync("_Partial/_PartialToast", Model.Error)
    Model.Error = null;
}

<div class="d-flex has-right">
    <form class="d-flex flex-sm-wrap justify-content-start flex-sm-row flex-column mt-3 gap-2" style="flex: 1;"
          method="post" asp-page-handler="OnPostAsync">

        <text class="form-label d-block w-100">I'm registering as:</text>
        <div class="mb-3 w-100 d-flex flex-column flex-md-row gap-2">

            <!-- Radio Button for Worker -->

            <input type="radio" class="btn-check" name="role" id="roleWorker" value="Worker" checked>
            <label class="btn btn-outline-dark-blue col-md-5" for="roleWorker">Worker</label>


            <!-- Radio Button for Employer -->
            <input type="radio" class="btn-check" name="role" id="roleEmployer" value="Employer">
            <label class="btn btn-outline-dark-blue col-md-5" for="roleEmployer">Employer</label>
        </div>


        <div class="form-floating mb-3 col-md-5">
            <input type="text" aria-label="First name" class="form-control" name="FirstName" id="fname" required
                   minlength="3" maxlength="20">
            <label for="fname">First name</label>
        </div>

        <div class="form-floating mb-3 col-md-6">
            <input type="text" aria-label="Last name" class="form-control" name="LastName" id="lname" required
                   minlength="3" maxlength="20">
            <label for="lname">Last name</label>
        </div>


        <div class="form-floating mb-3 col-md-5">
            <input type="email" class="form-control mb-3" name="Email" id="email" aria-label="email" required>
            <label for="email">Email</label>
        </div>

        <div class="form-floating mb-3 col-md-6">
            <input type="tel" class="form-control mb-3" name="PhoneNumber" id="phone" aria-label="phone" required
                   minlength="9" maxlength="17">
            <label for="phone">Phone</label>
        </div>


        <div class="form-floating mb-3 col-md-5">
            <input type="text" class="form-control mb-3" name="State" id="state" aria-label="state" required
                   minlength="3" maxlength="20">
            <label for="state">State</label>
        </div>

        <div class="form-floating mb-3 col-md-6">
            <input type="text" class="form-control mb-3" name="City" id="city" aria-label="city" required minlength="3"
                   maxlength="20">
            <label for="city">City</label>
        </div>

        <div class="form-floating mb-3 col-md-7">
            <input type="text" class="form-control mb-3" name="Address" id="address" aria-label="address" required
                   minlength="3" maxlength="30">
            <label for="address">Address</label>
        </div>

        <div class="form-floating mb-3 col-md-4">
            <input type="date" class="form-control mb-3" name="date" id="date" aria-label="date" required
                   max="@{var maxDate = DateTime.Parse(DateTime.UtcNow.AddYears(-18).ToString(CultureInfo.CurrentCulture)); @maxDate.ToString("yyyy-MM-dd")}">
            <label for="date">Date of birth</label>
        </div>

        <div class="form-floating mb-3 col-md-5">
            <input type="password" class="form-control mb-3 is-invalid" name="Password" id="password"
                   required
                   aria-label="Password"/>
            <label for="password">Password</label>

            <div id="password-validation">
                <div class="w-100 invalid-feedback" id="pass-count">
                    8 characters required.
                </div>
                <div class="d-flex d-row flex-wrap">
                    <div class="w-50 invalid-feedback" id="pass-low">
                        Lowercase character.
                    </div>
                    <div class="w-50 invalid-feedback" id="pass-up">
                        Uppercase character.
                    </div>
                    <div class="w-50 invalid-feedback" id="pass-spec">
                        Special character.
                    </div>
                    <div class="w-50 invalid-feedback" id="pass-num">
                        Number.
                    </div>
                </div>
            </div>
        </div>

        <div class="form-floating mb-3 col-md-5 ms-md-3">
            <input type="password" class="form-control mb-3 is-invalid" name="ConfirmPassword" id="confirm-password"
                   required
                   aria-label="Confirm password"/>
            <label for="password">Confirm password</label>

            <div id="conf-password-validation">
                <div class="w-100 invalid-feedback" id="pass-conf">
                    Passwords do not match.
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-light-blue" id="register-button" disabled>Register</button>
    </form>
    <div class="d-none d-md-block" style="flex: 1;"></div>
</div>

<script src="~/js/reg-validation.js"></script>
