@page
@model Pages.Information

@{
    ViewData["Title"] = "Site information";
}

<div>
    <h3>Information</h3>
</div>

<div class="mt-4">
    <h4>
        Author: Karel Mareth
    </h4>
</div>

<div class="mt-4">
    <p>
        This web app tries to simulate portal for workers and employers abroad to get in touch and rate each other after the work is finished.<br/> 
        Source code is written in C# - ASP.NET <br/>
        Client side is written in Razor Pages and API is written in MVC (controller) technology.<br/>
        Razor Page project as well as API is running on Microsoft Azure.<br/>
        Database MS SQL Server is run on Azure database.<br/>
        Pictures are saved on the Microsoft Azure Blob storage<br/>
        <br/>
    </p>
</div>