@page
@model Pages.Information

@{
    ViewData["Title"] = "Site information";
}

<div>
    <h3>Information</h3>
</div>

<div class="mt-4">
    <h4>
        Author: Karel Mareth
    </h4>
</div>

<div class="mt-4">
    <p>
        Source code is written in mostly C# - ASP.NET <br/>
        Client side is written in Razor Pages and API is written in MVC controllers fashion not focusing on one particular technology.<br/>
        Razor Page project as well as API is running on Microsoft Azure... <br/>
        Database is saved on the Microsoft Azure SQL server database<br/>
        Pictures are saved on the Microsoft Azure Blob storage<br/>
        <br/>
        Author of this site is fully aware of over-complication with API and Razor Pages partition.<br/>
        This site, to some extent, tries to follow production of the architecture of large projects.<br/>
    </p>
</div>