@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Picture

@{
    ViewData["Title"] = "Update picture";
    @await Html.PartialAsync("_Partial/_PartialToast", Model.Error)
    Model.Error = null;
}

<h5>Upload picture</h5>

<form method="post" enctype="multipart/form-data" class="mt-3" asp-page-handler="OnPostAsync">
    <input type="file" name="file" id="file" accept="image/*" class="form-control">
    <button type="submit" class="btn btn-light-blue mt-3">Submit</button>
</form>